In [1]:
i = 6
print(i)

6

In [59]:
j = "Hello World"
print(j)

Hello World

In [10]:
a = input("what is your name")
a

'test'

In [11]:
my_boolean = True
my_boolean

True

In [14]:
type(0.32)

float

In [18]:
s = "String example"
s = s.upper()
s

'STRING EXAMPLE'

In [19]:
s = "String example"
s = s.lower()
s

'string example'

In [28]:
l = ["test",1,[2.3,7],False]
l[3]
l[-2][-1]
#Comment line

7

In [29]:
len(l)

4

In [31]:
len(l[-2])

2

In [39]:
t = "This is a string"
t[-1]
t[2:12]

'is is a st'

In [58]:
t1 = len(t)
t[3:len(t)]

's is a string'

In [66]:
new_list = [True]
print(new_list)
new_list.append("this is string")
print(new_list)
new_list.insert(0,10)
print(new_list)
new_list.pop(0)
print(new_list)

[True]
[True, 'this is string']
[10, True, 'this is string']
[True, 'this is string']

In [71]:
second_list = [2,5,1,5,4]
second_list.sort(reverse=True)
second_list

[5, 5, 4, 2, 1]

In [81]:
second_list = [2,5,1,5,4,int("8"),int(False)]
sorted_list = sorted(second_list, reverse=True)
print(second_list)
print(sorted_list)

[2, 5, 1, 5, 4, 8, 0]
[8, 5, 5, 4, 2, 1, 0]

In [85]:
print(int("5"))
print(type("5"))

5
<class 'str'>

In [78]:
word_list= [ "zd","Zd","ce"]
sorted(word_list)

['Zd', 'ce', 'zd']

In [96]:
s_input = input("Enter your age")
s_input = int(s_input) + 5
print(f" In five years you'll be {s_input}")

 In five years you'll be 39

In [101]:
HOURLY_SALARY = 50
HOURLY_SALARY = 51
print(HOURLY_SALARY)

from typing import Final #Import Final class from typing package
NEW_HOURLY_SALARY:Final[int] = 60

NEW_HOURLY_SALARY = 61 #The red underline shows the error


print(NEW_HOURLY_SALARY)

51
61

In [103]:
my_tuple = (3)
my_tuple[0]=2

TypeError: 'int' object does not support item assignment

In [110]:
my_set = {"apples","banana","cherry","mango"  }
another_set = {"apples","kiwi","melons"}
union = my_set.union(another_set)
print(union)
intersection = my_set.intersection(another_set)
print(intersection)
only_my_set = my_set.difference(another_set)
print(only_my_set)
only_another_set = another_set.difference(my_set)
print(only_another_set)

sorted(list(union))

{'apples', 'melons', 'cherry', 'kiwi', 'mango', 'banana'}
{'apples'}
{'banana', 'cherry', 'mango'}
{'melons', 'kiwi'}

['apples', 'banana', 'cherry', 'kiwi', 'mango', 'melons']

In [116]:
my_info = {"Name" : "Piya", "Age" : 34  } 
#dictionary data type. It has pair of key & value
#key & value will be an item. 
name = my_info["Name"]

print(name)
age = my_info["Age"]
print(age)
my_info["Age"] = my_info["Age"] + 1
print(my_info["Age"])

Piya
34
35

In [124]:
my_dict = dict()
my_dict["pet"] = "cat"
print(my_dict)
my_dict["Vet"] = "Mr. K"
print(my_dict)
my_dict["age"] = 2
my_dict["owners"] = ["Ann","Bob"]
print(my_dict)
my_dict["nested_dic"] = my_info
print(my_dict)
my_dict["my_dict1"] = my_dict
print(my_dict)
print(my_dict["my_dict1"])

{'pet': 'cat'}
{'pet': 'cat', 'Vet': 'Mr. K'}
{'pet': 'cat', 'Vet': 'Mr. K', 'age': 2, 'owners': ['Ann', 'Bob']}
{'pet': 'cat', 'Vet': 'Mr. K', 'age': 2, 'owners': ['Ann', 'Bob'], 'nested_dic': {'Name': 'Piya', 'Age': 35}}
{'pet': 'cat', 'Vet': 'Mr. K', 'age': 2, 'owners': ['Ann', 'Bob'], 'nested_dic': {'Name': 'Piya', 'Age': 35}, 'my_dict1': {...}}
{'pet': 'cat', 'Vet': 'Mr. K', 'age': 2, 'owners': ['Ann', 'Bob'], 'nested_dic': {'Name': 'Piya', 'Age': 35}, 'my_dict1': {...}}

In [127]:
my_test = dict()
my_test["key1"] = "value1"
print(my_test)
my_test["key2"] = my_test
print(my_test)

{'key1': 'value1'}
{'key1': 'value1', 'key2': {...}}

In [130]:
f = open("Test.txt","r")
print(f.read()) #gives whole content file

My test file
My second line

In [132]:
f = open("Test.txt","r")
print(f.readline()) #Reads line by line
print(f.readline())

My test file

My second line

In [135]:
f = open("Test.txt","r")
for line in f:   
    print(line)

My test file

My second line

Third

Fourth

In [136]:
f = open("Test.txt","r")
for x in f:   
    print(x)

My test file

My second line

Third

Fourth

In [142]:
f = open("Test.txt","r")
for x in f:   
    print(x.upper()) #Prints line by line in upper case
    print("Every time")
print("Finish")

MY TEST FILE

Every time
MY SECOND LINE

Every time
THIRD

Every time
FOURTH
Every time
Finish

In [148]:
fav_animal = input("What is your favourite animal?")
fav_animal = fav_animal.lower()
if fav_animal == "dog":
    print("You like dog")
elif fav_animal == "cat":
    print("you like cat")
else:
    print("You like a different animal")

You like a different animal

In [151]:
like_cat = input("Do you like cats (y/n)?")
like_dog = input("Do you like dogs (y/n)?")
if like_cat == "y":
    print("You like cats")
else:
    print("You do not like cats")
if like_dog == "y":
    print("You like dogs")
else:
    print("You do not like dogs")

You like cats
You do not like dogs

In [149]:
4 > 3

True

In [3]:
fav_animal = ""
while fav_animal != "cat" and fav_animal != "dog":
    fav_animal = input("Are you a cat or a dog person?")
    if fav_animal == "human":
        break
print(fav_animal)

human

In [6]:
x = 2
match x:
    case 1:
        print("x = 1")
    case 2:
        print("x = 2")
    case _:
        print("I dont want to talk about X")

x = 2

In [9]:
from enum import Enum

class Color(Enum):
    RED = 1
    BLUE = 2
    GREEN = 3
    ORANGE = 4
    VIOLET = 5
    YELLOW = 6
    MAROON = 7

my_color = Color.GREEN

match my_color:
    case Color.RED:
        print("Color is red")
    case Color.BLUE:
        print("Color is blue")
    case Color.GREEN:
        print("Color is green")
    case _:
        print("Not my color")

Color is green

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
my_list = ["Priya","Amy","Sean","Nick","Jacob"]
new_list = []
for i in my_list:
    new_name = i.upper()
    new_list.append(new_name)
    print(new_name)
print(new_list)

PRIYA
AMY
SEAN
NICK
JACOB
['PRIYA', 'AMY', 'SEAN', 'NICK', 'JACOB']

In [17]:
my_list = ["Priya","Amy","Sean","Nick","Jacob"]
new_list = [i.upper() for i in my_list]
print(new_list)

['PRIYA', 'AMY', 'SEAN', 'NICK', 'JACOB']

In [20]:
my_numbers = [3.1, 5.6, 7.8,9.5,2.3]

new_numbers = [2*i for i in my_numbers]
print(new_numbers)

[6.2, 11.2, 15.6, 19.0, 4.6]

In [22]:
my_list = ["Priya","Amy","Sean","Nick","Jacob"]
for index,item in enumerate(my_list):
    print(f"{index}. {item}")

0. Priya
1. Amy
2. Sean
3. Nick
4. Jacob

In [24]:
my_info = {"Name" : "Piya", "Age" : 34, "Place" : "Auckland"  } 
for key,value in my_info.items():
    print(f"{key}. {value}")

Name. Piya
Age. 34
Place. Auckland

In [27]:
my_queue = []
my_queue.append("Item1")
my_queue.append("Item2")
my_queue.append("Item3")
my_queue.append("Item4")
print(my_queue)
print(my_queue.pop(0))
print(my_queue.pop(0))
print(my_queue.pop(0))
print(my_queue)

['Item1', 'Item2', 'Item3', 'Item4']
Item1
Item2
Item3
['Item4']

In [29]:
def times_two(x):
    return 2*x

print(times_two(5))
print(times_two(76))
print(times_two(1234))

10
152
2468

In [31]:
def side_effect(x,y): #Side effect
    print(f"Value of x = {x} & value of y = {y}")
   
side_effect(9,3)

Value of x = 9 & value of y = 3

In [32]:
def print_nicely(my_string):
    print(f" Nicely printing {my_string}")

def complex_processing(x):
    output_value = x * x + x
    print_nicely(output_value)
    return output_value  

complex_processing(56)
complex_processing(34)
complex_processing(7)

 Nicely printing 3192
 Nicely printing 1190
 Nicely printing 56

56

In [35]:
y = 5

def times_two(x):
    print(y)
    return 2*x

times_two(6)

5

12

In [37]:
y = 5

def times_two(x):
    y = x  #local y
    print(f"y = {y}")
    return 2*x

times_two(6)
print(f"y = {y}")

y = 6
y = 5